{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregister</button>
    {{ form_end(form) }}
{% endblock %}

